!!! XML
!!!
%html{html_attrs('ja')}
  %head
    %meta{ 'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    %title Channel list
  %body
    %h1 Channel List

    %ul
      - @channels.each do |channel|
        %li
          %a(href="/#{channel[:anchor]}/") #{channel[:text]}

